{% extends 'header.html' %}

{% block content %}
  <div class="row">
    {% for tut, partone in part_ones.items %}
        <div class="col s12 m6">
          <div class="card hoverable">
            <div class="card-content">
              <span class="card-title">{{tut.tutorial_series}}</span>
              <p style="font-size:70%">Description: {{tut.series_summary}}</p>
              <a href='{{partone}}'>Learn More</a>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}
